/* header styles */
header{
    background-image: linear-gradient(#070211);
    filter:  drop-shadow(#000000 100%);
    
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 600px;
    width: 1080px;
    justify-content: center;
    margin: 50px auto;
    
}
.banner{
      font-size: 32px;
    color: white;
    text-align: center;
    padding: 100px 344px;
}

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}
.font-weight-black{
    font-weight: bolder;
    font-size: 72px;
}
/* main styles */
.offer{
    font-weight: 700;
  
  text-align: justify;
  text-align: center;
}
.inter-font {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.crimson-color{
    color: #FF0000;
}
.offer h1{
    font-size: 88px;
}
.offer h3{
    font-weight: 500px;
    font-size: 24px;
}
.offer h2{
    font-weight: 700;
    font-size: 48px;
}
.offer img{
    height: 500px;
    width: 800px;
}
.party{
    background-image: url('/images/Vectorrr.png');
    justify-content: space-between;
    box-shadow:30px black inset;
    height: 600px;
    width: 1080px;
    display: flex;
    color: #ffff;
    margin:120px auto;

}
.invitation{
     padding: 126px;
}
 .invitation h1{
    font-weight: 900;
    font-size: 64px;
   
}
.invitation button{
    background-color: transparent;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border: none;
}

.text{
    color: 070211;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: #ff000013 ;
    width: 1080px;
    height: 480px;
    margin: 120px auto;
    border-radius: 16px;
}

.place p{
    font-weight: 600;
    font-size: 32px;
}
.place button{
    background-color: #FF0000;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
}
.offer-heading{
    font-weight: 500;
    font-size: 24px;
}

.time{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.offer-description{
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.upcoming-offers{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin: 120px auto;
    width: 1080px;
    height: 463px;
}
.upcoming{
    width: 393px;
}
.date{
    font-weight: 700;
    font-size: 48px;
}
.description{
    font-weight: 400;
    font-size: 20px;
}
.middle-picture{
    height: 364px;
    width: 364px;
    border-radius: 2px 50%;
    border-color: #FF0000;
}
.sale{
    text-align: center;
    width: 1080px;
    height: 260px;
    justify-content: center;
    margin: 120px auto;
}
.Holiday-heading{
    font-weight: 500;
    font-size: 24px;
}
.holiday{
    font-weight: 900;
    font-size: 72px;
}
.Holiday-description{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.discount{
    background-image: url('/images/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: transparent;
    justify-content: space-between;
    margin: 0 auto;
    width: 1080px;
    height: 662px;
    border: none;
    border-radius: 10px;
    gap: 100px;
}
.img1{
    width: 600px;
    height: 600px;
    text-align: justify;
}
.img2{
    right: 180;
    position: absolute;
    top: 180;
}
.portfolio{
   margin: 120px auto;
   width: 1080px;
  
}
.portfolio-des h5{
    font-weight: 500;
    font-size: 24px;
}
.portfolio-des h2{
    font-weight: 900;
    font-size: 48px;
}
.portfolio-des h6{
    font-size: 20px;
    font-weight: 400;
}   
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.newsletter{
    background-color: #ff00000a;
    text-align: center;
    width: 1080px;
    margin: 0 auto;
    padding: 60px 80px;
    border-radius: 15px;
}
.newsletter h1{
    font-weight: 900;
    font-size: 48;
    color: #070211;
}
.newsletter h5{
    font-weight: 400;
    font-size: 20px;
    color: #07021136;
}
.subscribe{
    border: none;
    height: 72px;
    padding: auto 0 30px;
    gap: 0;
    display: flex;
    justify-content: center;
    
}
.subscribe input{
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px 0px 0px  50px;
    padding: 24px 56px;
    
   
}
.btn{
    background-color: #ff0000;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 24px 56px;
}
/* footer styles */
footer{
    background-color: #070211;
    padding: 60px 80px;
    width: 1080px;
    margin: 0 auto;
}
footer h5{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.address{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: center;
     gap: 20px;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright button{
    background-color: transparent;
    border: none;
}
button:hover{
    cursor: pointer;
}